/* purgecss start ignore */

#__layout {
    background: rgb(250, 252, 255);
    background: linear-gradient(180deg, rgba(250, 252, 255, 1) 0%, rgba(222, 235, 255, 1) 100%);
}

.site-layout-width-full {
    .container {
        max-width: 100% !important;
        margin: 0;
        padding: 0;
    }
}

.site-layout-width-full:not(.posts-theme-columns) {
    .section {
        margin: 0;
        padding: 0;
    }
}

code {
    color: #e7155a;
    background: #f8f8f8;
    border: 1px solid #eee;
    padding: 1px;
    border-radius: 5px;
    font-size: .9em;
}

pre {
    background: #eee;
    padding: 20px;
    overflow-x: auto;
    code {
        background: transparent;
        color: initial;
        border: none;
        padding: 0;
    }
}

.home-page {
    margin-top: 66px;
}

.home-page .under-subtitle {
    border-top: none !important;
}

blockquote {
    border: 1px solid #eee;
    border-left: 4px solid $primary;
    padding: 10px;
}

dt {
    font-weight: bold;
}

.contact-page .title {
    font-size: 22px;
    margin: 0 0 25px 0;
    text-align: center;
    font-weight: 400;
}

.contact-page img {
    border-radius: 11px;
}

.box {
    border-radius: 11px;
}

.contact-page .linkedin {
    background-color: #2977c9;
}

.contact-page .twitter {
    background-color: #1da1f2;
}

.contact-page .button-wrap {
    margin: 25px 0;
}


/* purgecss end ignore */